<h1> <%= @blogger.name %> </h1>

<h3> Total Likes: <%= @blogger.total_likes %> </h3>

<h3> Most Liked Post: </h3>
<%= link_to @blogger.most_liked_post.title, @blogger.most_liked_post  %>

<h3> Most Recent Posts </h3>
<ul>
<% @blogger.posts.each do |post| %>
    <li> <%= link_to post.title, post %> </li>
<% end %>
</ul>